*{
    background-color: rgb(255, 234, 234);
    text-align: center;

}

#background{
    background-color: teal;
}
h1{ text-align: center;
    text-shadow:black -1px 10px 10px ;
    color: beige;}

.button {
    color:rgb(211, 245, 18);
    background-color: rgb(140, 0, 255);
    background-position: center;
    height: 50px;
    width: 50;
    margin: 10;
    padding: 15px;
    font-weight: bolder;
    text-align: center;
}
#left_header{

    float:left;
}

#banner{
    background-color: rgb(21, 115, 255);
    border-style: solid;
    border-color: white;
    margin:0;padding: 2px;
}
    
#banner h1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    height: 100px;
    width: 111px;
    
}
#content{
    width:100vw;
float:left;
text-align: center;
color:rgb(95, 42, 42)


}
ul {
    list-style-type: none;
}
ul, li {
margin:0;
padding: 0;

}
#footer{
padding: 75px;

}