h1{color: #333399;}
p{color: blueviolet;

}
body{background-color: deepskyblue;

}
ul{color: gold;}
li{color:yellow;}
.almond{color: saddlebrown; text-size-adjust: 140%;}
.butterfinger{color: rgb(156, 61, 16); }
.ferrero{color: skyblue;}
.all{color: tomato;}