<style>
    body{background-color: rgb(0, 119, 255);
        border: .03px solid black

    }
    p {
        color:black;
        background-color: rgb(0, 119, 255);
        border: .03px solid black
    }
    ul{
        background-color: rgb(0, 119, 255);
        border: .03px solid black
    }
    h1{ color:indianred;}
    
    .list_fun{color:purple;
     font-size: larger; }
     .fit-picture {
    width: 250px;}
        a:link{
        color: rgb(255, 240, 101);}
        a:visited{
            color: rgb(68, 0, 255);
        }
        a:hover{
            color: sandybrown;
        }
        </style>