@import url("https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --modal-duration: 1s;
  --primary-color: #60a7f7;
  --primary-head-color: #ffffff;
  --bg-color-primary: #fdf4f4;
  --secondary-color: #e0cfee;
  --thirdChoice-color: #79f526;
  --fifthChoice-color: #f25e99;
  --fourthChoice-color: #c7e8f3;
  --darkThirds-color: rgb(27, 17, 17);
  --secondary-Grays-color: rgba(214, 214, 199, 0.753);
  --superColor-purp: ;
}
body {
  font-family: "Walter+Turncoat", sans-serif;
  margin: 0;
  transition: transform 0.5s ease-in-out;
  height: 100%;
  /* background-image: repeating-linear-gradient(
    var(--secondary-color),
    rgb(96, 126, 88)
  ); */
}

body.show-nav {
  transform: translate(256px);
}
/* nav img{
    width: 105px;
} */

nav {
  background-image: repeating-linear-gradient(
    var(--secondary-color),
    rgb(96, 126, 88)
  );
  /* background-color: var(--primary-color); */
  border-right: 2px solid rgba(200, 200, 200, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 256px;
  height: 100vh;
  z-index: 100;
  transform: translateX(-100%);
}
nav h2 {
  color: aliceblue;
}
nav .logo {
  padding: 15px;
  text-align: center;
}
nav ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}
nav .logo img {
  height: 200px;

  border-radius: 25%;
}
nav ul li {
  text-align: center;
  border-bottom: 2px solid rgba(72, 255, 87, 0.1);
  padding: 20px;
}
nav ul li:first-of-type {
  border-top: 2px solid rgba(163, 250, 82, 0.562);
}
nav ul li a {
  color: #fff;
  text-decoration: none;
}
nav ul li a:hover {
  text-decoration: underline;
} /* --The pop up buttonHere --*/
.notification-container {
  background-color: rgba(100, 100, 200, 0.3);
  border-radius: 0 0 10px 10px;
  position: relative;
  top: -50px;

  transition: transform 0.5 ease-in-out;
}
/* .notification-container p {
  background-attachment: fixed;
   margin: 0; 
} */
.notification-container.show {
  transform: translateY(50px);
}
/* --Banner of page started Here --*/
header {
  margin: 0;
  padding: 75px;
  background-color: var(--secondary-color);
  font-size: 200%;
  position: relative;
  padding: 40px 15px;
  text-align: center;

  max-width: 100%;
}

header h1 {
  text-align: center;
  color: var(--primary-head-color);
  text-shadow: 2px 2px var(--secondary-Grays-color);
  /* padding:10px; */
  /* width: 100%vw; */
}

@media screen and (min-width: 600px) {
  body {
    background-color: var(--bg-color-primary);
  }
  .container {
    background-color: pink;
  }
  header {
    height: 200px;
    margin: 0;
    background-color: rgb(248, 99, 99);
  }
  header h1 {
    margin-top: 45px;

    height: 200px;
    margin: 50;
  }
  button img {
    height: 75px;
    padding: 15px;
    text-align: center;
  }
  nav .logo img {
    height: 300px;

    border-radius: 75%;
  }
}
@media screen and (max-width: 700px) {
  header {
    font-size: 15px;
    height: 200px;
    background-color: rgb(99, 248, 241);
  }
  button img {
    height: 156px;
    width: 10px;
    padding: 15px;
    text-align: center;
  }
}
@media screen and (max-width: 1410px) {
  header h1 {
    font-size: 45px;
  }
}
/* --Focus on Button started Here --*/
button,
input[type="submit"] {
  /*this is the contact me button*/
  background-color: var(--darkThirds-color);
  border: 0;
  font-weight: bolder;
  border-radius: 5px;
  color: rgb(252, 232, 232);
  cursor: pointer;
  padding: 8px 5px;
  box-shadow: -1px 1px 20px rgba(38, 38, 117, 0.9);
}

button:focus {
  outline: none;
}
.toggle {
  background-color: rgba(100, 100, 200, 0.3);
  position: absolute;
  top: 23px;
  left: 23px;
}
.ctn-btn {
  padding: 12px 20px;
  font-size: 20px;
}

.full-container {
  display: flex;
  justify-content: center;
}
.container {
  border-bottom: 15px solid var(--secondary-Grays-color);
  text-align: center;
  color: rgb(233, 233, 233);
  /* //background color for the text container */
  background-color: rgb(111, 111, 124);
  padding: 45px;
  max-height: 100%;
  width: 100%;
  max-width: 900px;

  /* width: 856px; */
}
.container h2 {
  color: chartreuse;

  text-align: center;
} /*-----------------------------------Container Link -----------------------*/
.container a {
  color: #99d1ff;
}
.container a:hover {
  color: rgba(255, 140, 140, 1);
}
.container a:visited {
  color: rgb(123, 8, 255);
}
.container ul {
  font-weight: bold;
  text-shadow: #333;
  list-style-type: none;
  text-align: center;
} /* --Modal started Here --*/
.modal-container {
  background-color: rgba(243, 252, 238, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modal-container.show-modal {
  display: block;
}
.modal-container a {
  color: rgb(250, 244, 244);
}
.modal-container a:hover {
  color: var(--fifthChoice-color);
}
.modal {
  background-color: var(--fourthChoice-color);
  border-radius: 9px;
  box-shadow: 0 0 25px rgba(100, 100, 200, 0.3);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 445px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}
.modal-header {
  background: var(--primary-color);
  color: #fff;
  padding: 15px;
}
.modal-header h3 {
  margin: 0;
}
.modal-content p {
  text-align: center;
}
.modal-content {
  padding: 20px;
}
.modal-form div {
  margin: 15px 0;
}
.modal-form label {
  display: block;
  margin-bottom: 5px;
}
.modal-form input {
  background-color: rgba(100, 100, 200, 0.3);
}

.modal-form .form-input {
  padding: 8px;
  width: 100%;
}
.close-btn {
  width: 45px;
  background: transparent;
  font-size: 30px;
  position: absolute;
  top: 0;
  right: 0px;
}
@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (min-width: 400px) {
  .toggle {
  }
}
